<template>
    <div>
      <p>{{ num }}</p>
    </div>
  </template>
  
  <script lang="ts">
  export default {
    props: {
      num: {
        type: Number,
        required: true,
      },
    },
  };
  </script>
  
  
